/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/react-lazy-load-image-component/src/effects/blur.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Product.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Product_card__7lDBk {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  min-height: 100vh;
}
.Product_card_skeleton_img__gxfgg, .Product_card_images__DsBIV {
  flex: 2 1;
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.Product_card_skeleton_img__gxfgg img:nth-child(1), .Product_card_images__DsBIV img:nth-child(1) {
  border-radius: 10px 0 0 0;
}
.Product_card_skeleton_img__gxfgg img:nth-child(2), .Product_card_images__DsBIV img:nth-child(2) {
  border-radius: 0 10px 0 0;
}
.Product_card_skeleton_img__gxfgg img:nth-child(3), .Product_card_images__DsBIV img:nth-child(3) {
  border-radius: 0 0 0 10px;
}
.Product_card_skeleton_img__gxfgg img:nth-child(4), .Product_card_images__DsBIV img:nth-child(4) {
  border-radius: 0 0 10px 0;
}
.Product_card_skeleton_img__gxfgg img, .Product_card_images__DsBIV img {
  width: 100%;
  max-width: 350px;
  height: 400px;
  object-fit: cover;
  height: 100%;
  object-fit: cover;
}
.Product_card_skeleton_img__gxfgg div:nth-child(1) {
  border-radius: 10px 0 0 0;
}
.Product_card_skeleton_img__gxfgg div:nth-child(2) {
  border-radius: 0 10px 0 0;
}
.Product_card_skeleton_img__gxfgg div:nth-child(3) {
  border-radius: 0 0 0 10px;
}
.Product_card_skeleton_img__gxfgg div:nth-child(4) {
  border-radius: 0 0 10px 0;
}
.Product_card_skeleton_img__gxfgg div {
  width: 100%;
  max-width: 500px;
  height: 400px;
  background: #fff;
  animation: Product_skeleton-loading__L4Kvt 0.5s linear infinite alternate;
}
.Product_card_text__rP9wo {
  width: 100%;
  flex: 1 1;
}
.Product_card_text__rP9wo h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}
.Product_card_text__rP9wo h3 {
  font-size: 24px;
  font-weight: 600;
}
.Product_card_text_skeleton__gjlOk {
  width: 100%;
  height: 40px;
  background: #fff;
  animation: Product_skeleton-loading__L4Kvt 0.5s linear infinite alternate;
}
.Product_card_title__Infzq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.Product_card_title__Infzq h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.Product_card_title__Infzq h5 {
  font-size: 500px;
  font-size: 14px;
  text-decoration: underline;
}
.Product_card_color_skeleton__pJXgc {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  transition: 0.2s;
}
.Product_card_color_skeleton__pJXgc button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 1px;
  background: #fff;
  transition: 0.2s ease-in-out;
  animation: Product_skeleton-loading__L4Kvt 0.5s linear infinite alternate;
}
.Product_card_color__zxQ2S {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  transition: 0.2s;
}
.Product_card_color__zxQ2S button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 1px;
  transition: 0.2s ease-in-out;
}
.Product_card_size_skeleton__9zweq {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  animation: Product_skeleton-loading__L4Kvt 0.5s linear infinite alternate;
}
.Product_card_size__V0UVz {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.Product_card_size__V0UVz button {
  width: 50px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  color: #000;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5803921569);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.Product_card_size__V0UVz button:hover {
  background: #ececec;
}
.Product_card_size_active__AgqyH {
  transition: 0.2s ease-in-out;
  background: #000 !important;
  color: #fff !important;
}
.Product_card_button__adcYg {
  width: 100%;
  background: #000;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.2s ease-in-out;
}
.Product_card_button__adcYg:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}
.Product_card_button_disable__SrjW8 {
  width: 100%;
  background: #000;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.2s ease-in-out;
  opacity: 0.3;
  pointer-events: none;
}
.Product_card_about__9Ot9A {
  display: flex;
  flex-direction: column;
}
.Product_card_about__9Ot9A p {
  font-size: 16px;
  color: #232321;
  margin-bottom: 20px;
}

@keyframes Product_skeleton-loading__L4Kvt {
  0% {
    background-color: hsl(0, 0%, 99.5%);
  }
  100% {
    background-color: hsl(0, 0%, 97.5%);
  }
}
