/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Filter.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Filter_filter__5lLiz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Filter_filter_inputs__vICt3 {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.Filter_filter_sizes__cW_qz {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  gap: 10px;
}
.Filter_filter_sizes__cW_qz button {
  padding: 15px;
  border-radius: 8px;
  color: #000;
  border: 1px solid #000;
  background: none;
}
.Filter_filter_colors__6ISjC {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  gap: 10px;
}
.Filter_filter_colors__6ISjC button {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
