/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Cart.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Cart_cart__pvloT {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  min-height: 60vh;
}
.Cart_cart_items__WBXa2 {
  max-width: 750px;
  width: 100%;
  background: #FAFAFA;
  border-radius: 16px;
  padding: 24px;
}
.Cart_cart_items__WBXa2 h2 {
  font-size: 32px;
  font-weight: 600;
}
.Cart_cart_items__WBXa2 h3 {
  color: #232321;
  font-size: 16px;
  font-weight: 400;
}
.Cart_cart_item__hHjUt {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.Cart_cart_item__hHjUt img {
  max-width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}
.Cart_cart_size_button__KzukS {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.Cart_cart_size_button__KzukS p {
  padding: 3px 10px;
  height: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.Cart_cart_size_button__KzukS button:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.Cart_cart_size_button__KzukS button:nth-child(3) {
  border-radius: 0 10px 10px 0;
}
.Cart_cart_size_button__KzukS button {
  font-size: 16px;
  padding: 5px 10px;
  height: 30px;
  border: 1px solid #000;
  background: transparent;
  color: #000;
}
.Cart_cart_text__fljg_ {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
  justify-content: space-between;
}
.Cart_cart_text_div__LTfg6 {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}
.Cart_cart_text__fljg_ h3 {
  font-size: 24px;
  color: #232321;
  font-weight: 600;
}
.Cart_cart_text__fljg_ p {
  font-size: 16px;
  color: #232321;
  font-weight: 400;
  max-width: 350px;
}
.Cart_cart_text__fljg_ span {
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #000;
}
.Cart_cart_text__fljg_ h4 {
  font-size: 18px;
  font-weight: 400;
}
.Cart_cart_text__fljg_ h5 {
  font-size: 24px;
  font-weight: 600;
}
.Cart_cart_summary__k0ebq {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
}
.Cart_cart_summary_item__vIY5l {
  display: flex;
  flex-direction: column;
}
.Cart_cart_summary_item__vIY5l h5, .Cart_cart_summary_item__vIY5l h4 {
  font-weight: 400;
}
.Cart_cart_summary__k0ebq a {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
  background: #232321;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
.Cart_cart_summary__k0ebq a:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.Cart_cart_summary_total__Dji2w {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Cart_cart_summary_total__Dji2w h3 {
  font-size: 24px;
  font-weight: 600;
}
.Cart_cart_summary_total__Dji2w p {
  color: #232321;
  font-size: 24px;
  font-weight: 600;
}
.Cart_cart_summary_column__jXGsF {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Cart_cart_summary_column__jXGsF h3 {
  font-size: 20px;
  font-weight: 400;
}
.Cart_cart_summary_column__jXGsF p {
  color: #232321;
  font-size: 20px;
  font-weight: 400;
}
.Cart_cart_summary__k0ebq h2 {
  font-size: 34px;
  font-weight: 600;
}
.Cart_cart_price__MRZBa {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.Cart_cart_close__Mx3ce {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.Cart_cart_close__Mx3ce img {
  max-width: 100%;
  width: 24px;
  height: 24px;
  border-radius: 0;
}

@media screen and (max-width: 1050px) {
  .Cart_cart__pvloT {
    flex-direction: column;
    justify-content: center;
  }
  .Cart_cart_item__hHjUt {
    display: flex;
    flex-direction: column;
  }
  .Cart_cart_items__WBXa2 {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  .Cart_cart_items__WBXa2 h2 {
    font-size: 24px;
  }
  .Cart_cart_summary__k0ebq {
    max-width: 750px;
  }
  .Cart_cart_summary__k0ebq h2 {
    font-size: 24px;
  }
}
