/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/CardSkeleton.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CardSkeleton_skeleton__kaVwX {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  width: 100%;
}
.CardSkeleton_skeleton_img__DMJ3P {
  width: 100%;
  border-radius: 20PX;
  height: 330px;
  background: #fff;
  animation: CardSkeleton_skeleton-loading__nK_Yr 0.5s linear infinite alternate;
}
.CardSkeleton_skeleton_text__I9u7j {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30px;
  width: 100%;
  border-radius: 5PX;
  animation: CardSkeleton_skeleton-loading__nK_Yr 0.5s linear infinite alternate;
}
.CardSkeleton_skeleton_button__XF9hA {
  width: 100%;
  height: 50px;
  border-radius: 15PX;
  animation: CardSkeleton_skeleton-loading__nK_Yr 0.5s linear infinite alternate;
}

@keyframes CardSkeleton_skeleton-loading__nK_Yr {
  0% {
    background-color: hsl(0, 0%, 99.5%);
  }
  100% {
    background-color: hsl(0, 0%, 97.5%);
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/react-lazy-load-image-component/src/effects/blur.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Card.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__3PaD8 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.Card_card_heart__HVze9 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.Card_card_heart__HVze9 img {
  border-radius: 0 !important;
}
.Card_card_img__IpelG span {
  width: 100% !important;
}
.Card_card_img__IpelG img {
  max-height: 400px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}
.Card_card__3PaD8 h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 95%;
}
.Card_card__3PaD8 h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 95%;
  color: gray;
}
.Card_card__3PaD8 h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 95%;
}
.Card_card__3PaD8 a {
  width: 100%;
  padding: 18px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.Card_card__3PaD8 a:hover {
  background: #000;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.Card_card_text__8O6Z6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Search.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Search_search__raU_J {
  margin-top: 50px;
  min-height: 80vh;
}
.Search_search_input__Fg2Gp {
  margin-top: 20px;
  background: none;
  border: 1px solid #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 12px;
}
.Search_search_input__Fg2Gp button {
  background: none;
}
.Search_search_input__Fg2Gp input {
  height: 100%;
  background: none;
  width: 100%;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.Search_search_items__bnIL2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
}
.Search_search__raU_J h2 {
  font-size: 40px;
  font-weight: 600;
}
.Search_search__raU_J h3 {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1550px) {
  .Search_search_items__bnIL2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .Search_search_items__bnIL2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .Search_search_items__bnIL2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
