/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/CardSkeleton.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CardSkeleton_skeleton__kaVwX {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}
.CardSkeleton_skeleton_img__DMJ3P {
  width: 100%;
  border-radius: 20PX;
  height: 330px;
  background: #fff;
  animation: CardSkeleton_skeleton-loading__nK_Yr 0.5s linear infinite alternate;
}
.CardSkeleton_skeleton_text__I9u7j {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30px;
  width: 100%;
  border-radius: 5PX;
  animation: CardSkeleton_skeleton-loading__nK_Yr 0.5s linear infinite alternate;
}
.CardSkeleton_skeleton_button__XF9hA {
  width: 100%;
  height: 50px;
  border-radius: 15PX;
  animation: CardSkeleton_skeleton-loading__nK_Yr 0.5s linear infinite alternate;
}

@keyframes CardSkeleton_skeleton-loading__nK_Yr {
  0% {
    background-color: hsl(0, 0%, 99.5%);
  }
  100% {
    background-color: hsl(0, 0%, 97.5%);
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Card.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__3PaD8 {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.Card_card_heart__HVze9 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.Card_card_heart__HVze9 img {
  border-radius: 0 !important;
}
.Card_card__3PaD8 img {
  border-radius: 10px;
}
.Card_card__3PaD8 h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 95%;
}
.Card_card__3PaD8 h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 95%;
  color: gray;
}
.Card_card__3PaD8 h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 95%;
}
.Card_card__3PaD8 a {
  width: 100%;
  padding: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.Card_card__3PaD8 a:hover {
  background: #000;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.Card_card_text__8O6Z6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/Favorite.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Favorite_favorite__9Yajq {
  min-height: 80vh;
  margin-top: 50px;
}
.Favorite_favorite_items__ozsvI {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
}
.Favorite_favorite_none__PNYoS {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}
.Favorite_favorite__9Yajq h2 {
  font-size: 40px;
  font-weight: 600;
}
.Favorite_favorite__9Yajq h3 {
  font-size: 16px;
  font-weight: 400;
}
