.skeleton{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   max-width: 300px;
   width: 100%;
   &_img{
      width: 100%;
      border-radius: 20PX;
      height: 330px;
      background: #fff;
      animation: skeleton-loading 0.5s linear infinite alternate;

   }
   &_text{
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 30px;
      width: 100%;
      border-radius: 5PX;

      animation: skeleton-loading 0.5s linear infinite alternate;
   }
   &_button{
      width: 100%;
      height: 50px;
      border-radius: 15PX;

      animation: skeleton-loading 0.5s linear infinite alternate;

   }
}

@keyframes skeleton-loading {
   0% {
   background-color: hsl(0, 0%, 99.5%);
   }
   100% {
   background-color: hsl(0, 0%, 97.5%);
   }
}