.card{
   max-width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   position: relative;
   &_heart{
      position: absolute;
      top: 20px;
      right: 20px;
      img{
         border-radius: 0 !important;
      }
   }
   &_img{
      span{
         width: 100% !important;
      }
      img{
         max-height: 400px;
         object-fit: cover;
         max-width: 100%;
         width: 100%;
         border-radius: 10px;
      }
   }
   
  
   h2{
      font-size: 24px;
      font-weight: 600;
      line-height: 95%;
   }
   h4{
      font-size: 14px;
      font-weight: 400;
      line-height: 95%;
      color: gray;
   }
   h5{
      font-size: 20px;
      font-weight: 400;
      line-height: 95%;
   }
   a{
      width: 100%;
      padding: 18px;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      border-radius: 10px;
      transition: .2s ease-in-out;

   }
   a:hover{
      background: #000;
      color: #fff;
      transition: .2s ease-in-out;
   }
   &_text{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

}