.cart{
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: space-between;
   margin-top: 50px;
   position: relative;
   &_items{
      max-width: 750px;
      width: 100%;
      background: #FAFAFA;
      border-radius: 16px;
      padding: 24px;

      h2{
         font-size: 32px;
         font-weight: 600;

      }
      h3{
         color: #232321;
         font-size: 16px;
         font-weight: 400;
      }
   }
   &_item{
      margin-top: 20px;
      display: flex;
      align-items: start;
      gap: 10px;

      img{
         max-width: 200px;
         height: 150px;
         object-fit: cover;
         border-radius: 20px;
      }
   }
   
   &_size_button{
      display: flex;
      flex-direction: row ;  
      justify-content: start ;
      align-items: center ;
      gap: 0 ;

      p{
         padding: 3px 10px;
         height: 30px;
         border-top: 1px solid #000;
         border-bottom: 1px solid #000;
      }
      button:nth-child(1){
         border-radius: 10px 0  0 10px;
      }
      button:nth-child(3){
         border-radius: 0 10px 10px 0;
      }
      button{
         font-size: 16px;
         padding: 5px 10px;
         height: 30px;
         border: 1px solid #000;
         background: transparent;
         color: #000;
      }
   }
   &_text{
   position: relative;

      display: flex;
      align-items: start;
      width: 100%;
      gap: 5px;
      justify-content: space-between;
      &_div{
         display: flex;
         align-items: start;
         width: 100%;
         flex-direction: column;
         gap: 5px;
         justify-content: space-between;
      }
      h3{
         font-size: 24px;
         color: #232321;

         font-weight: 600;
      }
      p{
         font-size: 16px;
         color: #232321;
         font-weight: 400;
         max-width: 350px;
      }
      span{
         display: flex;
         border-radius: 50%;
         width: 30px;
         height: 30px;
         background: #fff;
         border: 1px solid #000;
      }
      h4{
         font-size: 18px;
         font-weight: 400;
      }
      h5{
         font-size: 24px;
         font-weight: 600;
      }
   }

   &_summary{
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      max-width: 400px;
      button{
         font-size: 14px;
         font-weight: 500;
         padding: 16px;
         background: #232321;
         text-transform: uppercase;
         border-radius: 8px;
         transition: .2s ease-in-out;

         &:hover{
            opacity: 0.8;
            transition: .2s ease-in-out;
         }
      }
      &_total{
         display: flex;
         align-items: center;
         justify-content: space-between;
         h3{
            font-size: 24px;
            font-weight: 600;
         }
         p{
            color: #232321;
            font-size: 24px;
            font-weight: 600;
         }
      }
      &_column{
         display: flex;
         align-items: center;
         justify-content: space-between;

         h3{
            font-size: 20px;
            font-weight: 400;
         }
         p{
            color: #232321;
            font-size: 20px;
            font-weight: 400;
         }
      }
      h2{
         font-size: 34px;
         font-weight: 600;
      }
   }

   &_price{
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;

   }
   &_close{
      position: absolute;
      bottom:0;
      right: 0;
      cursor: pointer;
      img{
         max-width: 100%;
         width: 24px;
         height: 24px;
         border-radius: 0;
      }
   }

}