.footer{
   margin-top: 50px;
   border-radius: 48px 48px 0 0;
   background: #000;
   padding: 40px 40px 0 40px;

   &_upper{
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 10px;
   }
   &_down{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   h2{
      font-size: 32px;
      color: #005CE7;
      font-weight: 600;
      margin-bottom: 10px;
   }
   a{
      font-size: 20px;
      font-weight: 400;
      color: #fff;
   }
   &_about{
      max-width: 440px;
      h3{
      font-size: 20px;  
        font-weight: 400;
        color: #fff;
      }
   }
   &_column{
      display: flex;
      flex-direction: column;
   }
   &_social{
      div{
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }
}


@media screen and (max-width:1250px) {
   .footer{

   
      &_upper{
         flex-wrap: wrap;
      }
 
   }
}

@media screen and (max-width:650px) {
   .footer{
      h2{
         font-size: 24px;
      }
      a,h3{
         font-size: 16px;
      }
   }
}