.div{
   &_title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px 0;
      h2{
         font-size: 74px;
         font-weight: 600;
         text-transform: uppercase;
         max-width: 650px;
         line-height: 95%;
      }
      a{
         padding: 20px;
         background-color: #000;
         color: #fff;
         border-radius: 5px;
      }

   }

   &_cards{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
}
@media screen and (max-width:700px) {
   .div{
      &_title{
         flex-direction: column;
         align-items: start;

         h2{
            font-size: 34px;
      
         }
         a{
            margin-top: 10px;
            padding: 14px;
            background-color: #000;
            color: #fff;
            font-size: 14px;
            border-radius: 5px;
         }
   
      }
 
   }
}
