.slide{
   margin-top: 20px;
   width: 100%;
   border-radius: 30px;
   height: 700px;
   position: relative;
   &_skeleton{
   height: 700px;
   width: 100%;
   background-color: #fff;
   animation: skeleton-loading 0.5s linear infinite alternate;
   border-radius: 20px;
   }
   img{
      border-radius: 30px;
      height: 100%;
      object-fit: cover;
   }
   &_text{
      position: absolute;
      bottom: 50px;
      left: 50px;
      padding: 20px;
      border-radius: 20px;
      text-align: start;
      h2{
         font-size: 74px;
         font-weight: 600;
         color: #fff;
         margin: 0;
         line-height: 100%;
      }
      h3{
         font-size: 24px;
         font-weight: 600;
         margin-bottom: 25px;
         color: #fff;
         max-width: 500px;
      }
      a{
         color: #fff;
         background: #000;
         padding:  16px 32px;
         border-radius: 5px;
         transition: .2s ease-in-out;
      }
      a:hover{
         opacity: .8;
         transition: .2s ease-in-out;
      }
   }
}

@keyframes skeleton-loading {
   0% {
   background-color: hsl(0, 0%, 99.5%);
   }
   100% {
   background-color: hsl(0, 0%, 97.5%);
   }
}